body {
	background-color: rgb(209, 202, 205);
	font-family: monospace;
} 
header {
	background-color : pink;
		
}
main {
	text-align: center;
	
}
footer {
	background-color: pink;
}
#block-mytheme-main-menu ul li {
	display: inline;
	margin: 10px;
	text-align: center;
}
#schema-name {
	color: rgb(43, 41, 41);
}
 
